# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/
.env
.env.*

# VS Code
.vscode/

# Virtual environments
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db